body.vex-open {
    overflow: hidden;
}
.flex-container {
    display: inline-flex;
}
.ba-input-container {
    flex-grow: 3;
}
.ba-output {
    width: 125px;
    height: 304px;
    display: inline-block;
    overflow: scroll;
    padding-right: .3em;
    padding-top: .3em;
}
.ba-output div {
    font-size: 10pt;
    font-family: monospace;
    line-height: normal!important;
    font-weight: lighter;
}
.ba-output div.red {
    color: red;
}
.ba-output div.green {
    color: green;
}
.ba-output div.amber {
    color: orange;
}
.ba-input {
    height: 305px;
}
.ba-execute {
    float: right;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    background-color: #666666;
    color: white;
    font-weight: lighter;
    cursor:pointer;
}

.ba-execute:active {
    background-color: #999999;
}

.help-text {
    font-size: 16px;
}

.ba-execute input {
    position: relative;
    bottom: 0px;
    left: 5px;
    padding-left: 6px;
    width: 31px;
    outline: none;
    border-top-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    color: black;
}
