.svg-container
 	{
	flex: 2;
	min-width: 100%;
 	}
.bubbles_transitionline
	{
	stroke: black;
	stroke-width: 3px;
	fill: transparent;
	padding: 5px;
	marker-end: "#Arrow2Lend";
	}
.transition_group text
	{
	alignment-baseline: central;
	text-anchor: middle;
	font-weight: 900;
	border: solid 1px red;
	stroke: white;
	fill: blue;
	font-size: 300%;
	}
g.bubbles_node .mainCircle
	{
	fill: #82b4ff; /*light blue*/
	stroke: black;
	stroke-width: 1px;
	}
g.bubbles_node .nodeID
	{
	alignment-baseline: central;
	text-anchor: middle;
	text-align: center;
	font-weight: bold;
	}
g.bubbles_transitionselected .mainCircle
	{
	fill: #ffce82; /*light orange*/
	}
g.bubbles_node.bubbles_startState .mainCircle
	{
	/*fill: #65A3FF; /*why is this here? we don't need the start state to be a slightly different shade of blue, do we?*/
	stroke-width: 5px;
	stroke-linecap: butt;
	}

g.bubbles_node.active .mainCircle
	{
	fill: #82ff9f; /*light green*/
	}

g.bubbles_node .acceptLine
	{
	stroke-width: 1px;
	stroke: black;
	fill: none;
	visibility:hidden;
	}
g.bubbles_node.bubbles_accept .acceptLine
	{
	visibility: visible;
	}
g.bubbles_node .rejectLine
	{
	stroke-width: 2px;
	stroke: red;
	fill: none;
	visibility:hidden;
	}
g.bubbles_node.bubbles_reject .rejectLine
	{
	visibility: visible;
	}
