div.snap-drawers {
    position: absolute;
}

div.snap-drawer-left {
    position: absolute;
}
div.snap-content{
    position: absolute;
    overflow: auto;
    background: #fff;
}

#content.snap-content {
  height: 100%;
}

.nav {

}


.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.menu-item {

  color: white;
  padding: 5px 8px 5px 8px;
  margin-right: 20px;
  width: 60px;
  height: 52px;
  overflow: hidden;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: white !important;

}
.menu-item:hover {
  text-shadow: 1px 3px rgba( 0, 0, 0, 0.1 );
}


.machineSwitcherMenu > a{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.machineSwitcherMenu h3{
  text-align: center;
}

.menu-item.togglebutton {
  padding-top: 14px;
  padding-bottom: 13px;
  width: 215px;
}
.menu-item.togglebutton .toggle{
  margin-left: 20px;
  margin-right: 20px;
}

.divider-vertical {
  height: 52px;
  margin: 0 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}
