#saveFile {
  background-color: #fff;
  border: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

#saveFile:hover {
  color: #03a9f4;
}