#stack-display {
	margin: 0.1em 1em;
  white-space: nowrap;
  overflow-x: scroll;
  }
#stack-display > table {
  margin: 0.1em 0.5em;
	border: thin solid black;
  display: inline-block;
  }
#stack-display > table td {
	border: thin solid black;
  border-collapse: collapse;
  min-width: 2em;
  text-align: center;
  }
