table.properties{
	max-width: 250px;
	/*min-height: 40%;*/

	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
	border-collapse : seperate;
}

table.properties td.value input{
	border: 1px solid white;
	border-radius: 4px;
	padding: 5px;

}
table.properties td.key{
}