/*Tab things*/
#tabs>div{
	min-height: 150px;
	display: none;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 4;

}
.tabs-container{
	position: relative;
	width: 100%;
	bottom: 0px;
	flex: 0 1 auto;
	
}
#tabs>div.active{
	min-height: 150px;
	display: block;
}
#tabs>ul{
	position: relative;
	padding-left: 15px;
	margin-top: 0px;
}
#tabs>ul>li{
	display:inline;
	list-style: none;
	border: 0px 1px 1px 1px;

}
#tabs>ul>li>a{
	position: relative;
	top: 11px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px 10px 5px 10px ;
	text-decoration: none;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 5px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;

}
#tabs>ul>li>a.design.active{
	border-bottom: 1px solid #E6ECF2;
}
#tabs>ul>li>a.sim.active{
	border-bottom: 1px solid #FAFAFA;
}
#tabs>ul>li>a.design{
	background-color: #E6ECF2;
}
#tabs>ul>li>a.sim{
	background-color: #FAFAFA;
}
#design{
	background-color: #E6ECF2;
}
#sim{
	background-color: #FAFAFA;
}

/*Design tab stuff*/
div#design>div>table.tools{
	float: left;
	border: none;
	width: auto;

}

div#design>div>table.tools tr td{
	border: none;
	padding: 0px;
}

div#design>div>table{
	width:200px;
	height: auto;
	width: 50%;
}


/*END Design tab stuff*/

#sim .inactive
  {
    display: none;
  }

#sim .label
	{
	text-align:center;
	font-variant: small-caps;
	padding: 0.1em 1em;
  box-sizing: border-box;
	}

.padding-5px {
  padding: 5px;
  box-sizing: border-box;
  }
