.tmd-input-tape{
    margin-right: 20px;
}
.tmd-input-tape .tmd-input-previous{
    background-color: #FF9640;
}
.tmd-input-tape .tmd-input-future{
    background-color: #33CCCC;
}
.tmd-input-tape .tmd-input-current{
    border:solid black;
    border-collapse:collapse;
}
.tmd-input-tape .tmd-input-item{
    border:solid 1px black;
    border-collapse:collapse;
}
#tape-display {
    margin: 5px;
    display:inline-block;
}
#tape-display-container {
    text-align:center;
}
#tape-display-container small{
    float:left;
}