.menu-item.tools{
    margin-right: 5px;
    margin-left: 5px;
}

.menu-item.tools.active .fa{
    color: #4caf50;
    text-shadow: 2px 4px rgba( 0, 0, 0, 0.3 );
}

.menu-item.tools.text-input{
    padding-top: 12px;
    width: 300px;
}

.menu-item.tools.text-input input{
    color: #fff;
}


.menu-item.tools.combo {
    width: auto;
    padding-top: 8px;
    height: 52px;
}
.menu-item.tools.combo label{
    margin: 0;
}
.menu-item.tools.combo div{
    display: block;
    text-align: center;
}

.menu-item.tools.combo div.output{
    font-weight: 400;
}


.red {
    color: red;
}

.green {
    color: green;
}


/* do not group these rules */
.menu-item input::-webkit-input-placeholder {
    color: white;
}
.menu-item input:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
.menu-item input::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
.menu-item input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}
